@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 - Jake Evans";
}


<h1>Jake Evans</h1>
<img src="img/IMG_5185 Large.jpeg" alt="Mountain Biking" class="center" /><br />
<h3>What I hope to learn from IS 413:</h3>
<p>
    I hope to develop a greater understanding of the MVC framework for web development
    I also hope that I can increase my marketability and job readiness. As we work with C#, I hope to strengthen
    my strongly-typed language skills and be more deliberate with my programming.
</p>

<h3>Top 3 Jobs After Graduation:</h3>
<ol>
    <li>Software Developer</li>
    <li>Full-Stack Web Developer</li>
    <li>Product Manager</li>
</ol>


<!--links to javascript and jquery-->


